
 <tbody>


<%= form_tag after_login_update_path,method: :put do %>

<% @studs.each do |studs| %>
<%= fields_for "stud[]", studs do |stud_fields| %>
 	 <tr>


      

 	    <% if studs and studs.facmail==current_user.email  %>
 	        <% if studs.id%40 == 6 %>
 	         <%if Stud.find(studs.id - 6).appr==1 %> 
 	          <div class="field">
               <%= stud_fields.check_box :appr %>
               <%= studs.studname %>
         	   </div>
         	 <%end%>
         	<%end%>

         	
         	<% if studs.id%40 == 7 %>
 	         <%if Stud.find(studs.id - 5).appr==1 %> 
 	          <div class="field">
               <%= stud_fields.check_box :appr %>
               <%= studs.studname %>
         	  </div>
         	 <%end%>
         	<%end%>
         	

         	<% if studs.id%40 == 8 %>
 	         <%if Stud.find(studs.id - 5).appr==1 %> 
 	          <div class="field">
               <%= stud_fields.check_box :appr %>
               <%= studs.studname %>
         	   </div>
         	 <%end%>
         	<%end%>

         	
         	<% if studs.id%40 == 9 %>
 	         <%if Stud.find(studs.id - 8).appr==1 and Stud.find(studs.id - 4).appr==1 %> 
 	          <div class="field">
               <%= stud_fields.check_box :appr %>
               <%= studs.studname %>
         	  </div>
         	 <%end%>
         	<%end%>
			
			
			<% if studs.id%40 == 10 %>
 	         <%if Stud.find(studs.id - 4).appr==1 and Stud.find(studs.id - 3).appr==1 and Stud.find(studs.id - 2).appr==1 and Stud.find(studs.id - 1).appr==1 and 
                Stud.find(studs.id - 6).appr==1 and Stud.find(studs.id + 2).appr==1  and Stud.find(studs.id + 3).appr==1  and
                Stud.find(studs.id + 4).appr==1  and Stud.find(studs.id + 5).appr==1  and Stud.find(studs.id + 6).appr==1  and Stud.find(studs.id + 7).appr==1  and 
                Stud.find(studs.id + 8).appr==1  and Stud.find(studs.id + 9).appr==1  and Stud.find(studs.id + 10).appr==1  and Stud.find(studs.id + 11).appr==1  and 
                Stud.find(studs.id + 12).appr==1  and Stud.find(studs.id + 13).appr==1  and Stud.find(studs.id + 14).appr==1  and Stud.find(studs.id + 15).appr==1  and
                Stud.find(studs.id + 16).appr==1  and Stud.find(studs.id + 17).appr==1  and Stud.find(studs.id + 18).appr==1  and Stud.find(studs.id + 19).appr==1  and 
                Stud.find(studs.id + 20).appr==1  and Stud.find(studs.id + 21).appr==1  and Stud.find(studs.id + 22).appr==1  and Stud.find(studs.id + 23).appr==1  and 
                Stud.find(studs.id + 24).appr==1  and Stud.find(studs.id + 25).appr==1  and Stud.find(studs.id + 26).appr==1  and Stud.find(studs.id + 27).appr==1   and 
                Stud.find(studs.id + 28).appr==1  and Stud.find(studs.id + 29).appr==1 %> 
 	          <div class="field">
               <%= stud_fields.check_box :appr %>
               <%= studs.studname %>
         	   </div>
         	 <%end%>
         	<%end%>

         	
         	<% if studs.id%40 == 11 %>
 	         <%if Stud.find(studs.id - 1).appr==1 %> 
 	          <div class="field">
               <%= stud_fields.check_box :appr %>
               <%= studs.studname %>
         	  </div>
         	 <%end%>
         	<%end%>

         
          <% if studs.id%40 <= 5 or studs.id%40 >= 12 %>       
 	         <div class="field">
              <%= stud_fields.check_box :appr %>
              <%= studs.studname %>
         	 </div>
         	<%end%>
         <% end %>
 
        <% if studs and studs.studmail==current_user.email %>
           <% if studs.appr==0 %>
         	 <div class="field">
             Not Approved by   <%= studs.facname %>
             </div>
           <%end%>
           <% if studs.appr==1 %>
             <div class="field">
         	   Approved by       <%= studs.facname %>
         	 </div>
           <%end%>

         
        <% end %>
 
         

   
   </tr>


<% end %>
<% end %>


 
  <div class="actions">
 <%= submit_tag "Save changes" %>
 </div>


<% end %>


</tbody>
 
